<!-- Header -->
<header class="top-head container-fluid">
    <button type="button" class="navbar-toggle pull-left">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Left navbar -->
    <nav class="navbar-default hidden-xs" role="navigation">
        <ul class="nav navbar-nav">

        </ul>

        <!-- Right navbar -->
        <ul class="list-inline navbar-right top-menu top-right-menu">
            <!-- user login dropdown start-->
            <li class="dropdown text-center">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img alt="" src="img/user.png" class="img-circle profile-img thumb-sm">
                    <span class="username"><%= user %> </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu extended pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
                    <li><a href="/profile"><i class="fa fa-briefcase"></i> Perfil</a></li>
                    <li><a href="/log-out"><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- End right navbar -->
    </nav>
</header>
<!-- Header Ends -->