<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <link href="assets/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>


<body onload="reloadNumberNoReadNotification('<%= user %>');">
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
            <li class=""><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
            <li class="active"><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/notification"><i class="ion-ios7-bell-outline"></i> <span class="nav-label">Notificaciones</span></a></li>
            <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Alertas</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet" style="height: 755px;" id="portListDates">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Listado de archivos
                        </h3>
                        <div class="portlet-widgets">
                            <div style="float:left; margin-top: -10px;">
                                <h5 style="color: #797979; margin-right: 10px;">Filtrar por ejes:</h5>
                            </div>
                            <div style="float:left; margin-top: -10px; margin-right: 50px;">
                                <select class="form-control" id="filterAxis" onchange="reloadDataTable('')">
                                    <option value="BH1, BH2, BHZ">Todos</option>
                                    <option value="BH2">BH2 (X)</option>
                                    <option value="BH1">BH1 (Y)</option>
                                    <option value="BHZ">BHZ (Z)</option>
                                </select>
                            </div>
                            <span class="divider"></span>
                            <a onclick="reloadDataTable('');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="margin-top: 10px">Seleccione una red:</label>
                                    <div class="col-md-8">
                                        <select id="edit-status-netowrk" class="form-control">
                                            <option value="active">-</option>
                                            <option value="active">Universidad del Cauca</option>
                                            <option value="inactive">Puente peatonal liceo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="margin-top: 10px">Seleccione un sensor:</label>
                                    <div class="col-md-8">
                                        <select id="edit-status-netowrk" class="form-control">
                                            <option value="active">-</option>
                                            <option value="active">Universidad del Cauca</option>
                                            <option value="inactive">Puente peatonal liceo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4 form-group">
                                    <label class="control-label" for="datepicker">Fecha inicial:</label>
                                    <div class="col-lg-8 input-group">
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div><!-- input-group -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="datepicker">Fecha fin:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div><!-- input-group -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <table id="tableDateList" class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th class="col-lg-1"></th>
                                        <th class="col-lg-8">Fecha</th>
                                        <th class="col-lg-3"># archivos</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table id="tableDateList" class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th class="col-lg-1"></th>
                                        <th class="col-lg-8">Fecha</th>
                                        <th class="col-lg-3"># archivos</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<script src="assets/timepicker/bootstrap-datepicker.js"></script>


<script>
    jQuery(document).ready(function() {
        // Date Picker
        jQuery('#datepicker').datepicker();
    });
</script>

<script src="js/functions/alert.js"></script>

</body>
</html>