<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <link href="assets/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>


<body onload="load('<%= user %>',<%= networks %>, <%= sensors %>, <%= events %>);">
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
            <li class=""><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
            <li class="active"><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/notification"><i class="ion-ios7-bell-outline"></i> <span class="nav-label">Notificaciones</span></a></li>
            <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Alertas</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="portlet" style="height: 440px;" id="portListDates">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Filtros:
                        </h3>
                        <div class="portlet-widgets">
                            <a onclick="reloadDataTable('');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div class="row m-b-30">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label m-t-5">Seleccion de ejes:</label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="filterAxis">
                                            <option value="0">Todos</option>
                                            <option value="BH2">BH2 (X)</option>
                                            <option value="BH1">BH1 (Y)</option>
                                            <option value="BHZ">BHZ (Z)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-30">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label m-t-5">Seleccione una red:</label>
                                    <div class="col-md-8">
                                        <select id="filterNetwork" class="form-control" onchange="selectNetwork()">
                                            <option value="0">-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-30">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label m-t-5">Seleccione un sensor:</label>
                                    <div class="col-md-8">
                                        <select id="filterSensor" class="form-control">
                                            <option value="0">-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-30">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 m-t-5" for="startDate">Fecha inicial:</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="startDate">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-30">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 m-t-5" for="finalDate">Fecha fin:</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="finalDate">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-r-5">
                            <div class="col-lg-12">
                                <button class="btn btn-inverse pull-right" id="btnFilter">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="portlet" id="portListEvents">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Listado de archivos
                        </h3>
                        <div class="portlet-widgets">
                            <a onclick="reloadDataTable('');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="tableEventList" class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th class="col-lg-3">Fecha</th>
                                        <th class="col-lg-2">Hora</th>
                                        <th class="col-lg-1">Eje</th>
                                        <th class="col-lg-4">Sensor</th>
                                        <th class="col-lg-2">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<!-- Datatables-->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/dataTables.bootstrap.js"></script>
<script src="assets/datatables/dataTables.buttons.min.js"></script>
<script src="assets/datatables/buttons.bootstrap.min.js"></script>
<script src="assets/datatables/jszip.min.js"></script>
<script src="assets/datatables/pdfmake.min.js"></script>
<script src="assets/datatables/vfs_fonts.js"></script>
<script src="assets/datatables/buttons.html5.min.js"></script>
<script src="assets/datatables/buttons.print.min.js"></script>
<script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="assets/datatables/dataTables.keyTable.min.js"></script>
<script src="assets/datatables/dataTables.responsive.min.js"></script>
<script src="assets/datatables/responsive.bootstrap.min.js"></script>
<script src="assets/datatables/dataTables.scroller.min.js"></script>

<script src="assets/timepicker/bootstrap-datepicker.js"></script>


<script>
    jQuery(document).ready(function() {
        // Date Picker
        jQuery('#startDate').datepicker();
        jQuery('#finalDate').datepicker();
    });
</script>

<script src="js/functions/alert.js"></script>

</body>
</html>