<!--  location sensor -->
<div id="config_sensor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="locationSensor" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="locationSensor">Configuración del sensor:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>CPU:</h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>GPS:</h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>ADC:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Acelerometro:</h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>WIFI:</h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>RTC:</h4>
                        <h4>Bateria:</h4>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->