<!--  location sensor -->
<div id="config_sensor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="locationSensor" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="locationSensor">Configuración del sensor:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#cpu" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                                    <span class="hidden-xs">CPU</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#gps" data-toggle="tab" aria-expanded="true">
                                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                                    <span class="hidden-xs">GPS</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#adc" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                    <span class="hidden-xs">ADC</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#acelerometro" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">Acelerometro</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#wifi" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">WIFI</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#rtc" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">RTC</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#bateria" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">Bateria</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!---------------------------------------- CPU --------------------------------------------------------->
                            <div class="tab-pane active" id="cpu">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripCPU" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripCPU" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigCPU">Guardar</button>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- GPS --------------------------------------------------------->
                            <div class="tab-pane" id="gps">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripGPS" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripGPS" maxlength="80">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="baudrateGPS" class="col-lg-2 control-label">Tasa baudios:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="baudrateGPS" maxlength="7">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="msjnmeaGPS" class="col-lg-2 control-label">Mensajes NMEA:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="msjnmeaGPS" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigGPS">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- GPS TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                           <div class="col-lg-3 m-t-5 col-lg-offset-1">Seleccione el tipo de test:</div>
                                           <div class="col-lg-4">
                                              <select class="form-control" id="typeTestGPS">
                                                   <option value="GPS">GPS</option>
                                                   <option value="PPS">PPS</option>
                                              </select>
                                           </div>
                                           <div class="col-lg-1">
                                              <button class="btn btn-inverse" id="btnTestConfigGPS" onclick="requestTest('GPS')">Test</button>
                                           </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigGPS" onclick="clearTextAreaTest('resultTestGPS','GPS')">Limpiar</button>
                                            </div>
                                        </div>
                                       <div class="row">
                                           <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestGPS">
                                                   Resultado funcionamiento y recepcion del GPS
                                               </textarea>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- ADC --------------------------------------------------------->
                            <div class="tab-pane" id="adc">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripADC" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripADC" maxlength="80">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="samplesADC" class="col-lg-2 control-label">Muestras por segundo:</label>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <select class="form-control" id="samplesADC">
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="200">200</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigADC" onclick="saveConfigADC()">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- ADC TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                            <div class="col-lg-1 col-lg-offset-1">
                                                <button class="btn btn-inverse" id="btnTestConfigADC" onclick="requestTest('ADC')">Test</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigADC" onclick="clearTextAreaTest('resultTestADC','ADC')">Limpiar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestADC">
                                                   Resultado funcionamiento y recepcion del ADC
                                               </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- ACC --------------------------------------------------------->
                            <div class="tab-pane" id="acelerometro">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripACC" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripACC" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigACC">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- ACC TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                            <div class="col-lg-1 col-lg-offset-1">
                                                <button class="btn btn-inverse" id="btnTestConfigACC" onclick="requestTest('ACC')">Test</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigACC" onclick="clearTextAreaTest('resultTestACC','ACC')">Limpiar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestACC">
                                                   Resultado funcionamiento y recepcion del ACC
                                               </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- WIFI --------------------------------------------------------->
                            <div class="tab-pane" id="wifi">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripWIFI" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripWIFI" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigWIFI">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- WIFI TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                            <div class="col-lg-1 col-lg-offset-1">
                                                <button class="btn btn-inverse" id="btnTestConfigWIFI" onclick="requestTest('WIFI')">Test</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigWIFI" onclick="clearTextAreaTest('resultTestWIFI','WIFI')">Limpiar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestWIFI">
                                                   Resultado funcionamiento y recepcion del WIFI
                                               </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- RTC --------------------------------------------------------->
                            <div class="tab-pane" id="rtc">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripRTC" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripRTC" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigRTC">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- RTC TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                            <div class="col-lg-3 m-t-5 col-lg-offset-1">Seleccione el tipo de test:</div>
                                            <div class="col-lg-4">
                                                <select class="form-control" id="typeTestRTC">
                                                    <option value="RTC">RTC</option>
                                                    <option value="SYNC">SYNC</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnTestConfigGPS" onclick="requestTest('RTC')">Test</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigGPS" onclick="clearTextAreaTest('resultTestRTC','RTC')">Limpiar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestRTC">
                                                   Resultado funcionamiento y recepcion del RTC
                                               </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------- BAT --------------------------------------------------------->
                            <div class="tab-pane" id="bateria">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="descripBATT" class="col-lg-2 control-label">Descripción:</label>
                                                <div class="col-lg-10">
                                                    <input type="text" class="form-control" id="descripBATT" maxlength="80">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-inverse pull-right" id="btnSaveConfigBATT">Guardar</button>
                                    </div>
                                </div>
                                <!---------------------------------------- BAT TEST --------------------------------------------------------->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row m-b-10 m-t-20">
                                            <div class="col-lg-1 col-lg-offset-1">
                                                <button class="btn btn-inverse" id="btnTestConfigBAT" onclick="requestTest('BAT')">Test</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <button class="btn btn-inverse" id="btnClearConfigBAT" onclick="clearTextAreaTest('resultTestBAT','BAT')">Limpiar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1" align="center">
                                               <textarea rows="8" cols="105" id="resultTestBAT">
                                                   Resultado funcionamiento y recepcion del BAT
                                               </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->