<!--  edit sensor -->
<div id="edit_sensor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="locationSensor" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="locationSensor">Modificar datos del sensor:</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="edit_name_sensor">Nombre sensor:</label>
                    <input type="text" class="form-control" id="edit_name_sensor" value="Palomera">
                </div>
                <button type="button" class="btn btn-inverse" style="float: right;">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->