<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

</head>


<body onload="load(<%= dateList %>, '<%=serial%>')">
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
            <li class=""><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
            <li class=""><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Sensor #SERIAL</h3>
        </div>
        <div class="row">
            <div class="col-lg-6" >
                <div class="portlet" style="height: 400px;">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Listado de fechas
                        </h3>
                        <div class="portlet-widgets">
                            <a onclick="reloadDataTable('<%=serial%>');" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <table id="tableDateList" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="col-lg-1"></th>
                                    <th class="col-lg-8">Fecha</th>
                                    <th class="col-lg-3"># archivos</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  Grafica -->
            <div class="col-lg-6">
                <div class="portlet"><!-- /primary heading -->
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Grafica
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body chartJS">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div> <!-- /Portlet -->
            </div>
        </div><!--row-->
        <button id="btndrt" type="button" class="btn btn-inverse" onclick="displayGrphicRT()">Grafica en tiempo real</button>
        <div class="row" id="graphicRT">
            <div class="col-lg-12" >
                <div  class="portlet">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Grafica en tiempo real
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                            <span class="divider"></span>
                            <a href="#" id="close_grt"><i class="ion-close-round"></i></a>
                            <span class="divider"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <div id="linetoggle2"></div>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<script src="/node_modules/chart.js/src/chart.js"></script>

<!-- Datatables-->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/dataTables.bootstrap.js"></script>
<script src="assets/datatables/dataTables.buttons.min.js"></script>
<script src="assets/datatables/buttons.bootstrap.min.js"></script>
<script src="assets/datatables/jszip.min.js"></script>
<script src="assets/datatables/pdfmake.min.js"></script>
<script src="assets/datatables/vfs_fonts.js"></script>
<script src="assets/datatables/buttons.html5.min.js"></script>
<script src="assets/datatables/buttons.print.min.js"></script>
<script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="assets/datatables/dataTables.keyTable.min.js"></script>
<script src="assets/datatables/dataTables.responsive.min.js"></script>
<script src="assets/datatables/responsive.bootstrap.min.js"></script>
<script src="assets/datatables/dataTables.scroller.min.js"></script>



<script src="js/functions/graphic.js"></script>

</body>
</html>