<!--  info sensor -->
<div id="info_sensor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info_sensor" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Información sensor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active" id="tabGeneral">
                                <a href="#general" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                                    <span class="hidden-xs">General</span>
                                </a>
                            </li>
                            <li class="" id="tabLocation">
                                <a href="#location" data-toggle="tab" aria-expanded="true">
                                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                                    <span class="hidden-xs">Ubicación</span>
                                </a>
                            </li>
                            <li class="" id="tabNetwork">
                                <a href="#network" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                    <span class="hidden-xs">Red</span>
                                </a>
                            </li>
                            <li class="" id="tabAlert">
                                <a href="#alerts" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">Alertas</span>
                                </a>
                            </li>
                            <li class="" id="tabComponent">
                                <a href="#component" data-toggle="tab" aria-expanded="false">
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                    <span class="hidden-xs">Componentes</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="general">
                                <div class="row">
                                    <table id="tableInfoSensorGeneral" class="col-lg-12" border="0">
                                        <tbody>
                                            <tr>
                                                <th class="col-lg-4">Serial:</th>
                                                <td id="tisgSerial" class="col-lg-8"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Nombre:</th>
                                                <td id="tisgName" class="col-lg-8"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Estado:</th>
                                                <td id="tisgStatus" class="col-lg-8"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Fecha registro:</th>
                                                <td id="tisgRegDate" class="col-lg-8"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Fecha actualización:</th>
                                                <td id="tisgUpDate" class="col-lg-8"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><i id="loadGeneral" style="margin-top: 10px; display: none" class="ion-loading-a"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="location">
                                <div class="row">
                                    <table id="tableInfoSensorLocation" class="col-lg-12" border="0">
                                        <tbody>
                                        <tr>
                                            <th class="col-lg-4">Latitud:</th>
                                            <td id="tislLat" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4">Longitud:</th>
                                            <td id="tislLng" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4">Altitud:</th>
                                            <td id="tislAlt" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4">Dirección:</th>
                                            <td id="tislAddress" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><i id="loadLocation" style="margin-top: 10px; display: none" class="ion-loading-a"></i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="network">
                                <div class="row">
                                    <table id="tableInfoSensorNetwork" class="col-lg-12" border="0">
                                        <tbody>
                                        <tr>
                                            <th class="col-lg-4">Dirección IP:</th>
                                            <td id="tisnIP" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4">MAC:</th>
                                            <td id="tisnMAC" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4">SSID:</th>
                                            <td id="tisnSSID" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><i id="loadNetwork" style="margin-top: 10px; display: none" class="ion-loading-a"></i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="alerts">
                                <div class="row">
                                    <table id="tableInfoSensorAlerts" class="col-lg-12" border="0">
                                        <tbody>
                                        <tr>
                                            <th class="col-lg-4"># Eventos LTA:</th>
                                            <td id="tisaLTA" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <th class="col-lg-4"># Eventos STA:</th>
                                            <td id="tisaSTA" class="col-lg-8"></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><i id="loadAlert" style="margin-top: 10px; display: none" class="ion-loading-a"></i></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="component">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <table id="tableInfoSensorComponent" class="col-lg-12" border="0">
                                            <tbody>
                                            <tr>
                                                <th class="col-lg-5">CPU:</th>
                                                <td id="tiscCPU" class="col-lg-7"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-5">GPS:</th>
                                                <td id="tiscGPS" class="col-lg-7"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-5">ADC:</th>
                                                <td id="tiscADC" class="col-lg-7"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-5">Acelerómetro:</th>
                                                <td id="tiscACC" class="col-lg-7"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-5">WIFI:</th>
                                                <td id="tiscWIFI" class="col-lg-7"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">RTC:</th>
                                                <td id="tiscRTC" class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-4">Bateria:</th>
                                                <td id="tiscBATT" class="col-lg-2"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><i id="loadComponent" style="margin-top: 10px; display: none" class="ion-loading-a"></i></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table id="tableDescripComponents" class="col-lg-12" border="0">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2" style="text-align: center">Detalles CPU</th>
                                                </tr>
                                                <tr>
                                                    <td>Descripcion:</td>
                                                    <td>INTEL Core i5</td>
                                                </tr>
                                                <tr>
                                                    <td>Error:</td>
                                                    <td>Se presenta error en procesador</td>
                                                </tr>
                                                <tr>
                                                    <td>Actualización:</td>
                                                    <td>25/04/2017 23:48:00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->