<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link href="assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

</head>


<body onload="loadNetwork('<%= user%>')">
    <!-- Aside Start-->
    <aside class="left-panel">

        <!-- brand -->
        <div class="logo">
            <a href="/index" class="logo-expanded">
                <i class="ion-social-buffer"></i>
                <span class="nav-label">Plataforma MEC</span>
            </a>
        </div>
        <!-- / brand -->

        <!-- Navbar Start -->
        <nav class="navigation">
            <ul class="list-unstyled">
                <li class=""><a href="/index"><i class="zmdi zmdi-view-dashboard"></i> <span class="nav-label">Inicio</span></a></li>
                <li class="active"><a href="/network"><i class="fa fa-sitemap"></i> <span class="nav-label">Redes</span></a></li>
                <li class=""><a href="/sensor"><i class="fa fa-bullseye"></i> <span class="nav-label">Sensores</span></a></li>
                <li class=""><a href="/alert"><i class="zmdi zmdi-alarm"></i> <span class="nav-label">Alertas</span></a></li>
                <li class=""><a href="/historical"><i class="zmdi zmdi-format-list-bulleted"></i> <span class="nav-label">Histórico</span></a></li>
                <li class=""><a href="/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Configuración</span></a></li>
            </ul>
        </nav>

    </aside>
    <!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Redes</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <table id="table_networks" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-3" style="vertical-align: middle">Nombre</th>
                                <th class="col-md-4" style="vertical-align: middle">Dirección</th>
                                <th class="col-md-1" style="vertical-align: middle"># Sensores</th>
                                <th class="col-md-1" style="vertical-align: middle">Estado</th>
                                <th class="col-md-1" style="vertical-align: middle">Fecha creación</th>
                                <th class="col-md-1" style="vertical-align: middle">Fecha actualización</th>
                                <th class="col-md-1" style="vertical-align: middle">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>
                                <td>Puente peatonal liceo</td>
                                <td>Carrera 2 # 25N-69</td>
                                <td>5</td>
                                <td>Activa</td>
                                <td>2016/12/05</td>
                                <td>2016/12/09</td>
                                <td class="actions">
                                    <a data-toggle="modal" data-target="#edit-network" class="" style="color: #DBA901; margin-right: 5px;"><i class="fa fa-pencil"></i></a>
                                    <a onclick="delete_netowrk()" class="" style="color: #B40404"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Puente peatonal liceo</td>
                                <td>Carrera 2 # 25N-69</td>
                                <td>5</td>
                                <td>Activa</td>
                                <td>2016/12/05</td>
                                <td>2016/12/09</td>
                                <td class="actions">
                                    <a data-toggle="modal" data-target="#edit-network" class="" style="color: #DBA901; margin-right: 5px;"><i class="fa fa-pencil"></i></a>
                                    <a onclick="delete_netowrk()" class="" style="color: #B40404"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>-->
                            </tbody>
                        </table>
                        <button class="btn btn-inverse" onclick="addNetworkModal()">Agregar red</button>
                    </div>
                </div>
            </div>

        </div> <!-- End Row -->
    </div>
    <% include ./add_network %>
    <% include ./edit_network %>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

    <!-- Datatables-->
    <script src="assets/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/datatables/dataTables.bootstrap.js"></script>
    <script src="assets/datatables/dataTables.buttons.min.js"></script>
    <script src="assets/datatables/buttons.bootstrap.min.js"></script>
    <script src="assets/datatables/jszip.min.js"></script>
    <script src="assets/datatables/pdfmake.min.js"></script>
    <script src="assets/datatables/vfs_fonts.js"></script>
    <script src="assets/datatables/buttons.html5.min.js"></script>
    <script src="assets/datatables/buttons.print.min.js"></script>
    <script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="assets/datatables/dataTables.keyTable.min.js"></script>
    <script src="assets/datatables/dataTables.responsive.min.js"></script>
    <script src="assets/datatables/responsive.bootstrap.min.js"></script>
    <script src="assets/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="js/datatables.init.js"></script>

    <script src="assets/sweet-alert/sweet-alert.min.js"></script>
    <script src="js/functions/network.js"></script>

    <script type="text/javascript">

    </script>


</body>
</html>