<!--  info sensor -->
<div id="real_time_graphic" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info_sensor" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Grafica en tiempo real</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="divcontainer" class="col-lg-12">
                        <div id="chart_container">
                            <div id="y_axis"></div>
                            <div id="realTimeGraphic" style="width: 100%;"></div>
                            <div id="legend_container">
                                <div id="smoother" title="Smoothing"></div>
                                <div id="legend"></div>
                            </div>
                            <div id="slider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->