<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
</head>


<body  onload="loadData('<%= user%>')">
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="ion-home"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="ion-network"></i> <span class="nav-label">Redes</span></a></li>
            <li class="active"><a href="/sensor"><i class="ion-disc"></i> <span class="nav-label">Sensores</span></a></li>
            <li class=""><a href="/alert"><i class="ion-android-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/historical"><i class="ion-document-text"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="ion-settings"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Sensores</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Filtrar
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:reloadMap('<%= user %>');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-filterNetwork" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="panel-body" style="margin-top: -35px;">
                                <label class="col-lg-5 control-label" style="margin-top: 10px">Seleccione una red para visualizar los sensores asociados:</label>
                                <div class="col-lg-7">
                                    <select id="select_network" class="form-control" onchange="filterSensorByNetwork('<%= user%>')">
                                        <option value="0">-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet">
                    <div class="portlet-heading">
                        <h3 class="portlet-title text-dark">
                            Listado de sensores:
                        </h3>
                        <div class="portlet-widgets">
                            <a href="javascript:reloadMap('<%= user %>');" data-toggle="reload"><i class="ion-refresh"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-tableSensor" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <table id="table_sensors" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-md-1" style="vertical-align: middle">Serial</th>
                                    <th class="col-md-3" style="vertical-align: middle">Nombre</th>
                                    <th class="col-md-1" style="vertical-align: middle">Estado</th>
                                    <th class="col-md-3" style="vertical-align: middle">Red asociada</th>
                                    <th class="col-md-2" style="vertical-align: middle">Fecha registro</th>
                                    <th class="col-md-2" style="vertical-align: middle">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Row -->
    </div>
    <% include ./info_sensor %>
    <% include ./location_sensor %>
    <% include ./edit_sensor %>
    <% include ./config_sensor %>
    <% include ./real_time_graphic %>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<!-- Datatables-->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/dataTables.bootstrap.js"></script>
<script src="assets/datatables/dataTables.buttons.min.js"></script>
<script src="assets/datatables/buttons.bootstrap.min.js"></script>
<script src="assets/datatables/jszip.min.js"></script>
<script src="assets/datatables/pdfmake.min.js"></script>
<script src="assets/datatables/vfs_fonts.js"></script>
<script src="assets/datatables/buttons.html5.min.js"></script>
<script src="assets/datatables/buttons.print.min.js"></script>
<script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="assets/datatables/dataTables.keyTable.min.js"></script>
<script src="assets/datatables/dataTables.responsive.min.js"></script>
<script src="assets/datatables/responsive.bootstrap.min.js"></script>
<script src="assets/datatables/dataTables.scroller.min.js"></script>

<script src="assets/rickshaw-chart/vendor/d3.min.js"></script>
<script src="assets/rickshaw-chart/vendor/d3.layout.min.js"></script>
<script src="assets/rickshaw-chart/rickshaw.min.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Class.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Compat.ClassList.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Area.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Line.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Bar.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Renderer.Stack.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.RangeSlider.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.RangeSlider.Preview.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.HoverDetail.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Annotate.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Legend.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Axis.Time.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Order.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Smoother.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Time.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Time.Local.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Number.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.RandomData.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Fixtures.Color.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Color.Palette.js"></script>
<script src="assets/rickshaw-chart/Rickshaw.Graph.Axis.Y.js"></script>


<!-- Datatable init js -->
<script src="js/datatables.init.js"></script>

<script src="js/functions/sensor.js"></script>




<script src="https://maps.google.com/maps/api/js?key=AIzaSyBVnSiwx9InYdvET3_M4yU2qTyvUSOmVI0"></script>

</body>
</html>