<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link href="assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

</head>


<body>
<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Plataforma MEC</span>
        </a>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="/index"><i class="zmdi zmdi-view-dashboard"></i> <span class="nav-label">Inicio</span></a></li>
            <li class=""><a href="/network"><i class="fa fa-sitemap"></i> <span class="nav-label">Redes</span></a></li>
            <li class="active"><a href="/sensor"><i class="fa fa-bullseye"></i> <span class="nav-label">Sensores</span></a></li>
            <li class=""><a href="/alert"><i class="zmdi zmdi-alarm"></i> <span class="nav-label">Alertas</span></a></li>
            <li class=""><a href="/historical"><i class="zmdi zmdi-format-list-bulleted"></i> <span class="nav-label">Histórico</span></a></li>
            <li class=""><a href="/settings"><i class="fa fa-cogs"></i> <span class="nav-label">Configuración</span></a></li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <% include ./partials/header %>

    <!-- Page Content Start -->
    <!-- ================== -->
    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">Sensores</h3>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-5 control-label" style="margin-top: 10px">Seleccione una red para visualizar los sensores asociados:</label>
                <div class="col-md-6">
                    <select id="edit-status-netowrk" class="form-control">
                        <option value="active">-</option>
                        <option value="active">Universidad del Cauca</option>
                        <option value="inactive">Puente peatonal liceo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Listado general de sensores:</h3>
                    </div>
                    <div class="panel-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-2" style="vertical-align: middle">Serial</th>
                                <th class="col-md-3" style="vertical-align: middle">Nombre</th>
                                <th class="col-md-1" style="vertical-align: middle">Estado</th>
                                <th class="col-md-3" style="vertical-align: middle">Red asociada</th>
                                <th class="col-md-1" style="vertical-align: middle">Fecha registro</th>
                                <th class="col-md-2" style="vertical-align: middle">Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>AWSDERFGTY</td>
                                <td>Palomera</td>
                                <td>Activo</td>
                                <td>Universidad del Cauca</td>
                                <td>2016/12/01</td>
                                <td class="actions">
                                    <a onclick="showInfo_sensor()" class="" style="color: #0101DF; margin-right: 10px;"><i class="zmdi zmdi-loupe"></i></a>
                                    <a onclick="showLocation_sensor()" class="" style="color: #424242; margin-right: 10px;"><i class="ion-ios7-location"></i></a>
                                    <a href="/graphic?id=WEDRFEDDR" class="" style="color: #0B610B; margin-right: 10px;"><i class="fa fa-pie-chart"></i></a>
                                    <a onclick="showEdit_sensor()" class="" style="color: #DBA901; margin-right: 10px;"><i class="fa fa-pencil"></i></a>
                                    <a onclick="showConfig_sensor()" class="" style="color: #DF7401; margin-right: 10px;"><i class="fa fa-wrench"></i></a>
                                    <a onclick="delete_sensor()" class="" style="color: #B40404"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>SD21312GTY</td>
                                <td>Norte</td>
                                <td>Activo</td>
                                <td>Puente peatonal liceo</td>
                                <td>2016/12/05</td>
                                <td class="actions">
                                    <a onclick="showInfo_sensor()" class="" style="color: #0101DF; margin-right: 10px;"><i class="zmdi zmdi-loupe"></i></a>
                                    <a onclick="showLocation_sensor()" class="" style="color: #424242; margin-right: 10px;"><i class="ion-ios7-location"></i></a>
                                    <a href="/graphic?id=WEDRFEDDR" class="" style="color: #0B610B; margin-right: 10px;"><i class="fa fa-pie-chart"></i></a>
                                    <a onclick="showEdit_sensor()" class="" style="color: #DBA901; margin-right: 10px;"><i class="fa fa-pencil"></i></a>
                                    <a onclick="showConfig_sensor()" class="" style="color: #DF7401; margin-right: 10px;"><i class="fa fa-wrench"></i></a>
                                    <a onclick="delete_sensor()" class="" style="color: #B40404"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<button class="btn btn-inverse" data-toggle="modal" data-target="#add-network">Agregar sensor</button>-->
                    </div>
                </div>
            </div>
        </div> <!-- End Row -->
    </div>
    <% include ./info_sensor %>
    <% include ./location_sensor %>
    <% include ./edit_sensor %>
    <% include ./config_sensor %>

    <!-- Page Content Ends -->
    <!-- ================== -->
    <!-- Footer Start -->
    <footer class="footer">
        2016 © Plataforma MEC.
    </footer>
    <!-- Footer Ends -->
</section>
<!-- Main Content Ends -->

<% include ./partials/scripts %>

<!-- Datatables-->
<script src="assets/datatables/jquery.dataTables.min.js"></script>
<script src="assets/datatables/dataTables.bootstrap.js"></script>
<script src="assets/datatables/dataTables.buttons.min.js"></script>
<script src="assets/datatables/buttons.bootstrap.min.js"></script>
<script src="assets/datatables/jszip.min.js"></script>
<script src="assets/datatables/pdfmake.min.js"></script>
<script src="assets/datatables/vfs_fonts.js"></script>
<script src="assets/datatables/buttons.html5.min.js"></script>
<script src="assets/datatables/buttons.print.min.js"></script>
<script src="assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="assets/datatables/dataTables.keyTable.min.js"></script>
<script src="assets/datatables/dataTables.responsive.min.js"></script>
<script src="assets/datatables/responsive.bootstrap.min.js"></script>
<script src="assets/datatables/dataTables.scroller.min.js"></script>

<!-- Datatable init js -->
<script src="js/datatables.init.js"></script>

<script src="assets/sweet-alert/sweet-alert.min.js"></script>

<script src="js/functions/sensor.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable( { keys: true } );
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable( { ajax: "assets/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
        var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
    } );
    TableManageButtons.init();
</script>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBVnSiwx9InYdvET3_M4yU2qTyvUSOmVI0"></script>

</body>
</html>